<!doctype html>
<html lang="en">
  <head>
  	<title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../static/css/style.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="{% url 'dashboard'%}"class="img logo rounded-circle mb-5" style="background-image: url(/static/images/logo.jpg);"></a>
	        <ul class="list-unstyled components mb-5">
	          <li>
              <a href="{% url 'dashboard'%}">Home</a>
          </li>
	          <li>
	              <a href="{% url 'proveedores'%}">proveedores</a>
	          </li>
	          <li>
              <a href="{% url 'productos'%}">Productos</a>
	          </li>
	          <li>
              <a href="/logout">Cerrar Sesión</a>
	          </li>
	        </ul>

	        <div class="footer">
	        	
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'dashboard'%}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'proveedores'%}">Proveedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'productos'%}">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar Sesión</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        {% block body %}{% endblock %}
    
      </div>
		</div>

    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/popper.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/main.js"></script>
    <script>
      $(document).ready(function() {
          $('#btn_agregar_producto').on('click', function() {
              var productoSeleccionado = $('#id_productos option:selected').text();
              var cantidadSeleccionada = $('#id_cantidad').val();
  
              // Validar la entrada del usuario (cantidad)
              if (cantidadSeleccionada === '') {
                  alert('Por favor, ingrese una cantidad.');
                  return;
              }
  
              // Agregar una fila a la tabla de productos seleccionados
              var fila = '<tr>' +
                              '<td>' + productoSeleccionado + '</td>' +
                              '<td>' + cantidadSeleccionada + '</td>' +
                              '<td><button type="button" class="btn btn-danger btn-sm eliminar-producto">Eliminar</button></td>' +
                          '</tr>';
              $('#tabla_productos_seleccionados').append(fila);
          });
  
          // Eliminar producto al hacer clic en el botón "Eliminar"
          $(document).on('click', '.eliminar-producto', function() {
              $(this).closest('tr').remove();
          });
      });
      $(document).on('click', '.btn_agregar_producto', function() {
            var filaEncontrada = $(this).closest('tr');
            var productoSeleccionado = {
                nombre: filaEncontrada.find('td:eq(0)').text(),
                cantidad: filaEncontrada.find('td:eq(1)').text(),
                precio: filaEncontrada.find('td:eq(2)').text()
            };

            var fila = '<tr>' +
                            '<td>' + productoSeleccionado.nombre + '</td>' +
                            '<td>' + productoSeleccionado.cantidad + '</td>' +
                            '<td>' + productoSeleccionado.precio + '</td>' +
                            '<td><button type="button" class="btn btn-danger btn-sm eliminar-producto">Eliminar</button></td>' +
                        '</tr>';
            $('#tabla_productos_seleccionados').append(fila);
        });
      $('#btn_buscar').on('click', function() {
          var query = $('#id_buscar_producto').val();
          if (query !== '') {
              $.ajax({
                  url: "{% url 'buscar_productos' %}",  // URL de la vista para buscar productos
                  method: 'GET',
                  data: {'query': query},
                  dataType: 'json',
                  success: function(data) {
                    if (Array.isArray(data.productos)) {
                      // Verificar si los datos son una matriz
                      $('#tabla_productos_buscados').empty();
                          // Iterar sobre la matriz de productos
                      data.productos.forEach(function(producto) {
                          var fila = '<tr>' +
                                          '<td>' + producto.nombre + '</td>' +
                                          '<td>' + producto.cantidad + '</td>' +
                                          '<td>' + producto.precio + '</td>' +
                                          '<td><button type="button" class="btn btn-primary btn_agregar_producto">Agregar</button></td>' +
                                          
                                      '</tr>';
                          $('#tabla_productos_buscados').append(fila);
                      });
                              
                      } else {
                          alert('No se encontraron productos.');
                      }
                  },
                  error: function() {
                      alert('Error al buscar productos.');
                  }
              });
          }
      });
    </script>

    
  </body>
</html>