{% extends 'layout/app2.html' %}
{% load static %}

{% block body %}
<form method="post" action="{% url 'agregar_proveedor' %}">
    {% csrf_token %}
    <div class="form-group" >
        <label for="id_nombre_proveedor">Nombre del proveedor</label>
        <input type="text" class="form-control" required id="id_nombre_proveedor" name="nombre_proveedor" placeholder="Nombre del proveedor...">
    </div>
    <div class="form-group">
        <label for="id_telefono">Telefono</label>
        <input type="text" class="form-control" required id="id_telefono" name="telefono" placeholder="Telefono 912345678...">
    </div>
    <div class="form-group">
        <label for="direccion">Direccion</label>
        <input type="text" class="form-control" required id="direccion" name="direccion" placeholder="direccion...">
    </div>
    <div class="form-group">
        <label for="ciudad">Ciudad</label>
        <input type="text" class="form-control" required id="ciudad" name="ciudad" placeholder="ciudad...">
    </div>
    <button type="submit" class="btn btn-primary">Agregar Proveedor</button>
</form>
{% endblock %}
