{% extends 'layout/app2.html' %}
{% load static %}

{% block body %}
<form method="post" action="{% url 'agregar_categoria' %}">
    {% csrf_token %}
    <div class="form-group" >
        <label for="id_nombre_categoria">Nombre de la Categoría</label>
        <input type="text" class="form-control" id="id_nombre_categoria" name="nombre_categoria" placeholder="Nombre de la categoría...">
    </div>
    <div class="form-group">
        <label for="id_descripcion_categoria">Descripción</label>
        <input type="text" class="form-control" id="id_descripcion_categoria" name="descripcion_categoria" placeholder="Descripción...">
    </div>
    <button type="submit" class="btn btn-primary">Agregar Categoría</button>
</form>
{% endblock %}