{% extends 'layout/app.html' %}
{% load static %}

{% block body %}
<form method="post" action="{% url 'agregar_categoria' %}">
    {% csrf_token %}
    <div class="form-group" >
        <label for="id_nombre_categoria">Nombre de la Categoría</label>
        <input type="text" class="form-control" id="id_nombre_categoria" name="nombre_categoria" required placeholder="Nombre de la categoría...">
    </div>
    <div class="form-group">
        <label for="id_descripcion_categoria">Descripción</label>
        <input type="text" class="form-control" id="id_descripcion_categoria" name="descripcion_categoria" required placeholder="Descripción...">
    </div>
    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Agregar Categoría
      </button>
</form>


{% endblock %}