{% extends 'layout/app.html' %}
{% load static %}
{% block body %}
<div class="container-fluid px-4">
  <h2 class="mb-4">Categorias</h2>
  <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th></th>
          
        </tr>
      </thead>
      <tbody>
        {% for categoria in categorias %}
        <tr>
            <th scope="row">{{ categoria.id }}</th>
            <td>{{ categoria.nombre }}</td>
            <td>{{ categoria.descripcion }}</td>
            <td>
                <a href="{% url 'editar_categoria' categoria.id %}" class="btn btn-primary">Editar</a>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                  Eliminar
                </button>
            </td>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <a  class="modal-title" id="exampleModalLongTitle">¿Está seguro?</a>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Desea eliminar la Categoria?, 
                    si la elimina se eliminaran todos los productos enlasados con la categoria
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a type="submit" href="{% url 'eliminar_categoria' categoria.id  %}" class="btn btn-primary">Eliminar</a>
                  </div>
                </div>
              </div>
            </div>
        </tr>

        {% endfor %}
    </tbody>             
    </table>
    <a class="btn btn-primary" href="{% url 'agregar_categoria'  %}" >Agregar</a>
    <a class="btn btn-danger float-end" href="{% url 'dashboard'  %}" >Volver</a>
</div>
{% endblock %}