{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Login</title>
</head>
<body class="container login">
    <section class="vh-100 ">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold text-white mb-2 text-uppercase">¡Bienvenido!</h2>
                    <p class="text-white mb-5">¡Ingrese sus credenciales por favor!</p>
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-outline form-white mb-4">
                        <input type="text" id="typeEmailX" class="form-control form-control-lg" name="usuario"/>
                        <label class="form-label" for="typeEmailX">Usuario:</label>
                        </div>
                        <div class="form-outline form-white mb-4">
                        <input type="password" id="typePasswordX" class="form-control form-control-lg" name="password" />
                        <label class="form-label" for="typePasswordX">Contraseña:</label>
                        </div>     
                        <button class="btn btn-outline-light btn-lg px-5" type="submit" value="Iniciar Sesión">Iniciar Sesión</button>
                    </form>
                    
      
                  </div>
      
                  <div>
                    <p class="mb-0">¿No tienes cuenta? <a href="/registro" class="text-warning-50 fw-bold">Regístrate</a>
                    </p>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>





