{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>LOGIN INVENTARIO</title>
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600&display=swap" rel="stylesheet">
   
</head>
<body>
   <main>
      <div class="card">
         <div class="card__header">
            <div class="card__logo">
               <img class="card__logo-img" src="{% static 'images/logo.jpg' %}" alt="">
            </div>
            <h1 class="card__title">Bienvenido a <span>Inventario OPORTO</span> </h1>
         </div>
         <div class="card__body">
            <form class="card__form" action="{% url 'login' %}" method="post">
               {% csrf_token %}
               <input class="card__input" type="text" placeholder="Usuario" name="username">
               <input class="card__input" type="password" placeholder="Contraseña" name="password">
               <input class="card__input card--btn-login" type="submit" value="Iniciar Sesión">
               <h2>{{ error }}</h2>
            </form>
         </div>
      </div>
   </main>
</body>
</html>
