{% extends 'layout/app2.html' %}
{% load static %}
{% block body %}
<div class="container-fluid px-4">
  <h2 class="mb-4">Productos</h2>
  <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Categoria</th>
          <th scope="col">Precio</th>
          <th scope="col">Proveedor</th>
          <th></th>
          
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
        <tr>
            <th scope="row">{{ producto.id }}</th>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>{{ producto.categoria }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.proveedor }}</td>
            <td>
                <a href="{% url 'editar_producto' producto.id %}" class="btn btn-primary">Editar</a>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                  Eliminar
                </button>
            </td>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <a  class="modal-title" id="exampleModalLongTitle">¿Está seguro?</a>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a type="submit" href="{% url 'eliminar_producto' producto.id  %}" class="btn btn-primary">Eliminar</a>
                  </div>
                </div>
              </div>
            </div>
            
        </tr>

        {% endfor %}
    </tbody>             
    </table>
    
    <a class="btn btn-primary" href="{% url 'agregarProducto'  %}" >Agregar</a>
    <a class="btn btn-danger float-end" href="{% url 'dashboard'  %}" >Volver</a>
    
</div>
{% endblock %}
