{% extends 'layout/app2.html' %}
{% load static %}
{% block body %}
<div class="container-fluid px-4">
  <h2 class="mb-4">Productos</h2>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Categoria</th>
        <th scope="col">Precio</th>
        <th scope="col">Proveedor</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
      <tr>
        <th scope="row">{{ producto.id }}</th>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>{{ producto.categoria }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.proveedor }}</td>
        <td>
          <a href="{% url 'editar_producto' producto.id %}" class="btn btn-primary">Editar</a>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Eliminar
          </button>
        </td>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <a class="modal-title" id="exampleModalLongTitle">¿Está seguro?</a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a type="submit" href="{% url 'eliminar_producto' producto.id  %}" class="btn btn-primary">Eliminar</a>
              </div>
            </div>
          </div>
        </div>

      </tr>

      {% endfor %}
    </tbody>
  </table>

  <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
  </svg>

  {% if bajo_stock %}

  <div class="bajo-stock-section alert alert-danger alert-small d-flex align-items-center">
    <div>
      <h4 class="alert-heading mb-0"><i class="fa-solid fa-circle-exclamation"></i> Productos en Bajo Stock:</h4>
      <ul class="list-unstyled">
        {% for producto in productos %}
        {% if producto.cantidad < 10 %} <li>{{ producto.nombre }} ({{ producto.cantidad }} unidades)</li>
          {% endif %}
          {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}


  <a class="btn btn-primary" href="{% url 'agregarProducto'  %}">Agregar</a>
  <a class="btn btn-danger float-end" href="{% url 'dashboard'  %}">Volver</a>

</div>
{% endblock %}