{% extends 'layout/app.html' %}
{% load static %}
{% block body %}
<div class="card mb-1">
    <div class="card-header">
        
        <h1 class="mt-4">Proveedores</h1>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Dirección</th>
                <th>Ciudad</th>
                
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Dirección</th>
                <th>Ciudad</th>
                
            </tr>
            </tfoot>
            <tbody>
            <tr>
                <td>La Escoba</td>
                <td>983838383</td>
                <td>Cocharcas 660</td>
                <td>Chillán</td>
                
            </tr>
            <tr>
                <td>Fabian Chinatti</td>
                <td>949584958</td>
                <td>AV Nueva Oriente 1119</td>
                <td>Chillán</td>
                
            </tr>
            
            </tbody>
        </table>
    </div>

{% endblock%}
{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
{% endblock %}