{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>LOGIN INVENTARIO</title>
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600&display=swap" rel="stylesheet">
   
</head>
<body>
    <main>
        <div class="card">
            <div class="card__header">
                <div class="card__logo">
                    <img class="card__logo-img" src="{% static 'images/logo.jpg' %}" alt="">
                </div>
                <h1 class="card__title">Registrarse</h1>
            </div>
            <form class="card__form" action="{% url 'registro' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.usuario.id_for_label }}" class="h6">Usuario:</label>
                    <div class="input-wrapper">
                        {{ form.usuario }}
                        {{ form.usuario.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.correo.id_for_label }}" class="display-4">Correo:</label>
                    <div class="input-wrapper">
                        {{ form.correo }}
                        {{ form.correo.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.contraseña.id_for_label }}" class="lead">Contraseña:</label>
                    <div class="input-wrapper">
                        {{ form.contraseña }}
                        {{ form.contraseña.errors }}
                    </div>
                </div>
                <input class="card__input card--btn-login" type="submit" value="Registrarse">
            </form>
        </div>
    </main>
</body>
</html>
